/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fine reset */

 body {
  background-image: url(../img/background.png);
  margin: 0 10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
 }

/* Header */
header {
  position: relative;
  width: 100%;
  background-color: rgba(255,255,255,1);
  /* box-shadow: 2px 2px rgba(0,0,0,0.5); */
  text-align: center;
  margin-top: 25px;
}

/* Titolo */
header .title {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  border: 10px solid white;
  border-radius: 3px solid white;
}

header .titletext {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

header .title div:first-child {
  padding: 5px 15px;
  border: 5px solid white;
}

header .title div:nth-child(0n+2) {
  top: 80%;
}

header .title div:last-child {
  top: 27%;
}

h1 {
  font-size: 55px;
}

/* Menù */
header .menu {
  position: relative;
  background-color: grey;
  width: 100%;
  bottom: 0px;
}

header .link {
  display: inline-block;
  font-size: 12px;
  margin: auto;
  padding: 15px 5px;
}

header .link a {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
  text-decoration: none;
}

header .link:hover {
  background-color: #3d3732;
}
/* fine Header */

/* Main */
main {
  margin: 10px 0;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
  border-radius: 1%;
}

/* prima colonna */
.left {
  background-color: rgba(255,255,255,1);
  /* box-shadow: 2px 2px rgba(0,0,0,0.5); */
  border-radius: 1%;
}

/* seconda colonna */
.center {
  width: 56%;
  margin: 0 2%;
  background-color: rgba(255,255,255,1);
  /* box-shadow: 2px 2px rgba(0,0,0,0.5); */
}

/* terza colonna */
.right > div {
  width: 100%;
  list-style-type: none;
  background-color: rgba(255,255,255,1);
  /* box-shadow: 2px 2px rgba(0,0,0,0.5); */
  margin-bottom: 20px;
  border-radius: 1%;
}

.right > div:last-child {
  margin-bottom: none;
}

 /* interno colonne */
.subtitle {
  margin-bottom: 5px;
}
/* fine main */

/* Footer */
footer {
  width: 100%;
  background-color: rgba(255,255,255,1);
  /* box-shadow: 2px 2px rgba(0,0,0,0.5); */
  text-align: center;
}
/* fine footer */
