/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background-image: url(../img/background.png);
  margin: 0 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
 }

.clearfix:after {
   content: "";
   display: table;
   clear: both;
 }
/* fine generali */

/* Header */
header {
  position: relative;
  width: 100%;
  background-color: rgba(255,255,255,1);
  text-align: center;
  margin-top: 20px;
}

/* Titolo */
header .title {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  border: 10px solid white;
}

header .titletext {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

header div:first-child {
  padding: 5px 15px;
  border: 5px solid white;
}

header div:nth-child(2) {
  top: 80%;
}

header div:last-child {
  top: 28%;
}

h1 {
 font-size: 55px;
}

/* Menù */
header .menu {
  position: relative;
  background-color: grey;
  bottom: 0px;
}

header ul {
  font-size: 0px;
}

header li {
  display: inline-block;
  font-size: 12px;
  margin: auto;
  padding: 15px 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

header li:hover {
  background-color: #3d3732;
}

header li:last-child {
  border-right: none;
}
header a {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
  text-decoration: none;
}

/* fine Header */

/* Main */
main {
  margin: 10px 0;
}

.column {
  float: left;
  width: 20%;
  border-radius: 1%;
}

/* prima colonna */
.left {
  background-color: rgba(255,255,255,1);
  border-radius: 1%;
  padding: 15px;
}

.text ul {
  list-style-type: none;
}

.left li {
  color: #0ABF13;
  margin-bottom: 10px;
}
.left i {
  float: left;
  color: orange;
  font-size: 25px;
  padding-right: 5px;
}
.left .subtitle {
  margin-bottom: 30px;
}
/* seconda colonna */
.center {
  width: 56%;
  margin: 0 2%;
  background-color: rgba(255,255,255,1);
  padding: 15px;
}

.center .subtitle {
  margin-bottom: 30px;
}
/* terza colonna */
.right .widget {
  width: 100%;
  background-color: rgba(255,255,255,1);
  margin-bottom: 20px;
  border-radius: 1%;
  padding: 15px;
}

.right .widget:last-child {
  margin-bottom: 0px;
}

.right .subtitle {
  margin-bottom: 30px;
}
/* fine main */

/* Footer */
footer {
  background-color: rgba(255,255,255,1);
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
  color: rgba(0,0,0,0.3);
}

.firma {
  padding: 2px;
}
.socialbox {
  width: 98%;
  margin: 0 1%;
  border-top: 1px solid rgba(0,0,0,0.3);
  height: 100px;
}
.social {
  float: left;
  width: 33%;
  font-size: 30px;
  padding: 25px;
}

.social a {
  color: rgba(0,0,0,0.3);
}
/* fine footer */
